.profile{
    background: #e1efe6;
}

.headerprofile{
    background-image: url("../../../public/backgroundperfil.png");
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5em 1em;
    flex-wrap: wrap;
}

.nomecompleto{
    font-size: 3.5em;
    font-weight: bolder;
}


.perfilusuario{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 45px auto 0;
}

.panel{
    background: #e1efe6;
    padding: 2em;
    border: 2px solid#090446;
    border-left: 5px solid#090446;
    border-radius: 1em;
}

.dadospessoais{

}

.mudarsenha{

}