header .logouser {
    width: 1.5em;
    filter: drop-shadow(-20px 0px 2px #222);
    margin-left: 1em;
    margin-right: 1em;
}

.nav--component {
    background-color: #090446;
}

.aside{
    background-color: #e1efe6;
}

.linkaula{
    text-decoration: none;
    display: block;
    padding: 2em 1em;
    border: 1px solid#090446;
    border-left: 5px solid#090446;
    border-radius: 1em;
    margin: 0.5em;
    color: #090446;
}