header {
    background-color: #090446;
}

h1{
    margin: 0;
}

img{
    width: 2.5em;
    filter: drop-shadow(-20px 0px 2px #222);
    margin-right: 1em;
}

Button{
    color: #efcb68;
}

a{
    color: #e1efe6 !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.brand{
    display: flex;
    align-items: center;
    font-size: 36px !important;
}

.buttonlogin{
    background-color: #efcb68;
    color: #090446;
    font-size: 20px;
    font-weight: bolder;
}

.login:hover{
    background-color: #aeb7b3;
}

.textButton{
    color: #090446;
    text-decoration: none;
    text-shadow: 
               -1px -1px 0px #aeb7b3, 
               -1px 1px 0px #aeb7b3,                    
                1px -1px 0px #aeb7b3,                  
                1px 0px 0px #aeb7b3;
}
