.titulo{
    margin-top: 20px;
    position: relative;
    
}
.SearchBar{
    width: 80%;
    margin: auto;
}
.cursos{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: 40px;
}

.cardsWall {
    display: flex;
}